.c-button {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 18px 0;
  background-color: $yellow;
  font-family: $font_futura;
  text-align: center;
  color: $black;
  border-radius: 31px;
  @include fz(20);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.c-button--left {
  @extend .c-button;
  margin-left: 0;
  margin-top: 40px;

  @include sp {
    margin: 0 auto;
  }
}

.c-button--line {
  display: block;
  position: relative;
  @include fz(20, 18);
  font-family: $font_futura;
  padding-left: 62px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    color: $gray;
    width: 58px;
    height: 2px;
    background: $black;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    @include sp {
      width: 42px;
    }
  }
}

.c-button--line--white {
  @extend .c-button--line;
  color: $white;
  &::before {
    background-color: $white;
  }
}

.l-footer__snsIcons {
  display: flex;
  justify-content: center;

  a {
    margin-left: 28px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: $white;
    &:first-child {
      margin-left: 0;
    }
  }

  img {
    padding: 10px;
  }
}
