<!DOCTYPE html>
<html lang="jp">
  <%- include('../_include/_head') %>

  <body>
    <div class="wapper p-top">
      <%- include('../_include/_header') %>

      <main>
        <section class="l-mv">
          <div class="l-mv__inner">
            <h1>MOVE HEART.</h1>
            <p>We don’t just make videos.</p>
            <p>What we make is a videos, a videos that changes the “Future”.</p>
          </div>
        </section>
        <section class="l-section p-top__about">
          <div class="l-container">
            <div class="p-top__about__contents">
              <div class="p-top__about__left">
                <h1 class="c-title">ABOUT</h1>
                <p>心が動けば、その瞬間から未来が変わる。</p>
                <p>私たちはただの映像なんか作らない。</p>
                <p>作るのは心を動かす映像、「未来」を変える映像だ。</p>
                <a href="" class="c-button--left">MORE....</a>
              </div>
              <div class="p-top__about__right">
                <img src="./assets/img/about_img.png" alt="" />
              </div>
            </div>
          </div>
        </section>
        <section class="l-section p-top__service">
          <div class="l-container">
            <h1 class="c-title">SERVICE</h1>
            <ul class="p-top__service__contents">
              <li class="p-top__service__content">
                <img src="./assets/img/serveice_img_animation.png" alt="" />
                <p>映像制作</p>
              </li>
              <li class="p-top__service__content">
                <img src="./assets/img/serveice_img_live.png" alt="" />
                <p>アニメーション制作</p>
              </li>
              <li class="p-top__service__content">
                <img src="./assets/img/serveice_img_video.png" alt="" />
                <p>セミナーなどの配信企画</p>
              </li>
            </ul>
          </div>
        </section>
      </main>
      <%- include('../_include/_footer') %>
    </div>
  </body>
</html>
