<header class="l-header">
  <div class="l-header__container">
    <div class="l-header__logo">
      <a href="/">
        <img src="./assets/img/logo_02.svg" alt="logo" />
      </a>
    </div>
    <div class="l-header__pageText">
      <p>TOP</p>
    </div>
    <div class="l-header__menu">
      <div class="l-header__menu--icon">
        <img src="./assets/img/menu_icon.svg" alt="ハンバーガーメニュー" />
      </div>
      <div class="l-header__menu--text">
        <p>MENU</p>
      </div>
    </div>
  </div>
</header>
